<div *ngIf="dataSource ; else notShow" class="container">
    <div class="no-results" *ngIf="dataSource.length == 0">
        No Quizes to show </div>
        <table *ngIf="dataSource.length != 0" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
              
                <!-- Quiz Name Column -->
                <ng-container matColumnDef="Quiz Name">
                  <th mat-header-cell *matHeaderCellDef> Quiz Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
              
                <!-- <ng-container matColumnDef="Quiz Id">
                  <th mat-header-cell *matHeaderCellDef> Quiz Id </th>
                  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
              
                <ng-container matColumnDef="Description">
                  <th mat-header-cell *matHeaderCellDef> Description </th>
                  <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>
              
                <ng-container matColumnDef="Max Score">
                  <th mat-header-cell *matHeaderCellDef> Max Score </th>
                  <td mat-cell *matCellDef="let element"> {{element.noOfQues}} </td>
                </ng-container>

                <ng-container matColumnDef="Answer Key">
                        <th mat-header-cell *matHeaderCellDef> Answer Key </th>
                        <td mat-cell *matCellDef="let element"> {{element.answerKey}} </td>
                      </ng-container>
                
                <ng-container matColumnDef="Duration">
                        <th mat-header-cell *matHeaderCellDef> Duration </th>
                        <td mat-cell *matCellDef="let element"> {{element.time}} </td>
                      </ng-container> -->


                
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row" (click)="getQuiz(row)"></tr>
              </table>
          </div>
          <ng-template #notShow class="example-container">
                <!-- <mat-spinner></mat-spinner>


                <span>
                please wait
                </span> -->


                <div class="spinner-wrapper">
                        <span>Loading, please wait</span>
                  
                        <mat-progress-spinner
                          [color]="color"
                          [mode]="mode"
                          [diameter]="14 "
                          [value]="value">
                        </mat-progress-spinner>
                      </div>
              </ng-template>
<!-- </mat-card-content> -->
